* {
    font-family: "Recursive", Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.nav-items *:hover {
    transform: scale(1.05);
}

.profile-img {
    width: 30px;
    margin: 0px 20px;
    background-size: cover;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
