.contact-body {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-body-form-container {
    padding: 20px 20vw 0px 20vw;
    color: white;
}

.send-message {
    text-align: center;
    margin: 30px 15vw 30px 15vw;
}
