.contact-body {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-body-form-container {
    padding: 20px 20vw;
    color: white;
}
