.message-sent {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.send-message {
    text-align: center;
    margin: 30px 15vw 30px 15vw;
}

.message-sent-text {
    text-align: center;
}
